.content-page-frameworks-view
    h1
        a(href="#/frameworks/all/" title="Back")
            i.fa.fa-arrow-circle-left.back-button
        | &nbsp;
        span(data-bind="text: $data.title")
    br
    library-details(params="name: $data.name")
