h2(data-bind="text: $data.title")

p(style="margin-top: 30px")
  span This is a simple demo showing how you can use this template to create a SPA easy and fast.
p
  span The libraries used to create this template are&nbsp;
  a(href="http://knockoutjs.com/") Knockout
  span ,&nbsp;
  a(href="http://millermedeiros.github.io/crossroads.js/") Crossroads.js
  span ,&nbsp;
  a(href="http://getbootstrap.com/") Bootstrap
  span ,&nbsp;
  a(href="http://jquery.com/") jQuery
  span ,&nbsp;
  a(href="http://fontawesome.io/") Font Awesome
  span &nbsp;and&nbsp;
  a(href="http://documentup.com/kriskowal/q/") Q
  span .

p &nbsp;

h4 Install

.panel.panel-primary
  .panel-heading Github (Recommended)
  .panel-body
    code git clone git://github.com/crissdev/spa-template-ko.git -b master spa-ko

.panel.panel-default
  .panel-heading Bower
  .panel-body
    code bower install spa-template-ko


h4 Build

.panel.panel-primary
  .panel-heading Gulp
  .panel-body
    p.
      The build script supports a number of options that can be passed through command line. Run
      the following command in the application directory to see all the options available.

    code gulp --help


h4 Test

.panel.panel-primary
  .panel-heading Karma
  .panel-body
    p Tests can be run with Karma.

    code karma start

h4 License

.panel.panel-primary
  .panel-heading MIT
  .panel-body
    p
      span MIT &copy;&nbsp;
      a(href="http://crissdev.com") Cristian Trifan

