.content-page-frameworks-all
    h1(data-bind="text: $data.title")

    .alert.alert-info
        span Below is a list of the frameworks used to create this project

    ul.list-unstyled
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/RequireJS/") RequireJS
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/jQuery/") jQuery
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/Knockout/") Knockout
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/Bootstrap/") Bootstrap
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/Font Awesome/") Font Awesome
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/Crossroads/") Crossroads
        li
            .hand.fade.text-info
                i.fa.fa-hand-o-right
                | &nbsp;
            a(href="#/frameworks/view/Q/") Q
