.content-page-library-view
  h2
    a(href="#/libs/all/" title="Back")
      i.fa.fa-arrow-circle-left.back-button
    | &nbsp;
    span(data-bind="text: $data.title")
  br
  library-details(params="name: $data.name")
