doctype html
html(lang="en-US")
  head
    title Single Page Application Template
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="initial-scale=1")
    link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
    link(href="styles/main.css?v=#{APP_VERSION}", type="text/css", rel="stylesheet")

  body
    .navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#/") Single Page Application Template
        .collapse.navbar-collapse
          ul.nav.navbar-nav

    .container
      ui-view

    if REQUIRE_VERSION
      script(src="require.js?v=#{REQUIRE_VERSION}")
    if ALMOND_VERSION
      script(src="almond.js?v=#{ALMOND_VERSION}")

    script(src="main.js?v=#{APP_VERSION}")
